

<div class="row layout">
  <h1>ブログ一覧</h1>
  <p><%= notice %></p>
  <% @blogs.each do |blog| %>
    <div class="col-md-6 blog-item">
      <table>
        <tr>
          <th>タイトル</th>
          <th>内容</th>
        </tr>
        <tr>
          <td><%= blog.title %></td>
          <td><%= blog.content %></td>
        </tr>
      </table>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default"><%= link_to '詳細を確認する', blog_path(blog.id) %></button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default"><%= link_to "ブログを編集する", edit_blog_path(blog.id) %></button>
        </div>
        <div class="btn-group" role="group">
          <button type="button" class="btn btn-default"><%= link_to 'ブログを削除する', blog_path(blog.id), method: :delete ,data: { confirm: '本当に削除していいですか？' } %></button>
        </div>
      </div>



    </div>
  <% end %>
  <div class="col-sm-12 new-action">
    <p><%= link_to '新しくブログを投稿する', new_blog_path %></p>
    <p><%= link_to 'お問い合わせ', new_contact_path %></p>
  </div>
</div>
