<div class="layout">

<h2>お問い合わせ</h2>
<p><%= notice %></p>

<%= form_with(model: @contact, local: true) do |form| %>

    <% if @contact.errors.any? %>
    <div id="error_explanation">
        <h2><%= @contact.errors.count %>件のエラーがあります。</h2>
        <ul>
            <% @contact.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
        </ul>
    </div>
    <% end %>

    <div class = "contact_name form-group">
        <%= form.label :name %>
        <%= form.text_field :name, class:"form-control" %>
    </div>
    <div class = "contact_email form-group">
        <%= form.label :email %>
        <%= form.email_field :email, class:"form-control" %>
    </div>
    <div class = "contact_content form-group">
        <%= form.label :content %>
        <%= form.text_field :content, class:"form-control" %>
    </div>
    <%= form.submit "送信", class: 'btn btn btn-default' %>
<% end %>

</div>
